@charset "utf-8";

.booksection{position:relative; width:100%; overflow:hidden; padding-bottom:120px;}
.booksection > p{width:100%; padding:20px 0 90px; text-align:center; font-size:20px;}
.booksection > ul{width:100%; height:60px; border-top:2px solid #490e67; border-bottom:2px solid #490e67; line-height:60px; text-align:center;}
.booksection > ul > li{position:relative; display:inline-block; height:60px; margin:0 0px; text-align:center;}
.booksection .con_nav{display:block; font-size:20px; height:60px; padding:0 40px; box-sizing:border-box; transition:0.4s;}
.booksection .con_nav:hover{font-size:22px; font-weight:500; color:#490e67;}
.booksection .con_nav.active{font-size:22px; font-weight:500; color:#490e67; border-bottom:3px solid #490e67;}
.booksection > ul > li:after{position:absolute; top:0; bottom:0; right:0; margin:auto 0; display:inline-block; width:3px; height:3px; border-radius:2px; background-color:#490e67; content:'';}
.booksection > ul > li:last-child:after{display:none;}

.contents_wrap{width:100%; overflow:hidden;}
.contents_wrap > div{display: none; padding-top:80px;}
.contents_wrap > div ul{width:100%; overflow:hidden;}
.contents_wrap > div li{float:left; width:410px; height:690px; margin:0 45px 50px 0; overflow:hidden;}
.contents_wrap > div li:nth-child(3n){margin-right:0;}
.contents_wrap > div li figure{position:relative; width:410px; height:560px; background-color:rgba(74, 13, 103, 0.6); overflow:hidden; transition:0.3s;}
.contents_wrap > div li img{position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; transition:0.3s;}
.contents_wrap > div li:nth-child(2n) figure{background-color:rgba(74, 13, 103, 0.9);}
.contents_wrap > div li .title{position:relative; width:410px; height:60px; margin-bottom:10px; box-sizing:border-box; border-bottom:2px solid rgba(74, 13, 103, 0.7); }
.contents_wrap > div li h4{position:absolute; left:0; top:5px;  width:220px; height:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; line-height:50px; font-size:24px; font-weight:500; }
.contents_wrap > div li .title p{position:absolute; right:0; top:5px; width:160px; height:100%; text-align:right; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; line-height:50px; font-size:24px; font-weight:500;}
.contents_wrap > div li .title + p{line-height:32px; text-align:justify; font-size:18px; color:#444;}

.contents_wrap > div figure:hover img{opacity:0.7;}
.contents_wrap > div figure a{position:absolute; right:-150px; bottom:-150px; display:block; width:300px; height:300px; transform:rotate(45deg); background-color:#470a68; background-image:url(../images/books/like_icon_out.png); background-size:60px; background-position:25px 110px; background-repeat:no-repeat; opacity:0; transition:0.6s;}
.contents_wrap > div figure:hover a{opacity:0.9;}
.contents_wrap > div figure a.active{right:0; bottom:0; width:100%; height:100%; background-color:transparent; transform:rotate(0); background-image:url(../images/books/like_icon_active01.png); background-position:left top; opacity:1;}
.contents_wrap > div li:nth-child(2n) figure a.active{background-image:url(../images/books/like_icon_active02.png);}

.contents_wrap > div > a{position:absolute; bottom:0; right:0; left:0; margin:0 auto; width:40px; padding-bottom:5px; border-bottom:3px solid #490e67; text-align: center;  font-size:24px; font-weight:500; color:#490e67;}

.more_btn{width:100%; padding:15px; background-color:#f6f2ff; color:#490e67; font-size:20px;}